In [48]:
import pandas as pd
import plotly.express as px
from src.modules import *
from src.irisClassifier import iris_knn
from src.KNN import  KNN_classifier
occupancy = pd.read_csv('datasets/occupancy.csv')
weather = pd.read_csv('datasets/weather.csv', index_col=None)
iris = px.data.iris()
i = 0

<div style="direction:rtl;line-height:300%;"><font face="IRANSans" size=5>
<font color=red size=7>
<p></p>
<div align=center>بخش ۵ </div>
</font></div><hr/>

<div style="direction:rtl;line-height:150%;"><font face="IRANSans" size=3>
    دیتاست مربوط به وضعیت اشغال منازل مسکونی به شما داده شده است. با کمک دستور 
    <code>head</code>
    چندتا از داده‌ها را مشاهده کنید. می‌خواهیم عوامل موثر بر وضعیت اشغال منازل را با استفاده از این داده‌ها شناسایی کنیم. نمودار سه بعدی نور، دما، میزان کربن دی اکسید را ترسیم کنید. خانه های پر و خالی را با رنگ‌های مختلف روی نمودار مشاهده کنید. به نظر شما با داشتن اطلاعات مربوط به یک خانه‌ی جدید(مثلا برای هر خانه همان نور و دما و کربن دی اکسید)، با توجه به کدام متغیر می‌توانیم پیش‌بینی کنیم که آن خانه پر یا خالی خواهد بود؟
</font></div>

In [49]:
head(occupancy)

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
140,2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1
141,2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1
142,2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1
143,2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1
144,2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1

<div style="direction:rtl;line-height:150%;"><font face="IRANSans" size=3>
  ستون‌های موردنیاز شما در این دیتاست این‌ها هستند:
<br/>
  <lu>
    Temperature:دما
    </lu>
    <br>
    <lu>
    Humidity: میزان شرجی بودن
    </lu>
    <br>
    <lu>
    Light: نور
    </lu>
    <br>
    <lu>
    CO2:کربن دی اکسید
    </lu>
    <br>
    <lu>
    Occupancy: وضعیت اشغال منازل
    </lu>
</font></div>

<div style="direction:rtl;line-height:150%;"><font face="IRANSans" size=3>
  دیتاست مربوط به انواع گل زنبق به شما داده شده است. با کمک دستور head می‌توانید چندتا از این داده‌ها را مشاهده کنید:
</font></div>

In [50]:
head(iris)

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

<div style="direction:rtl;line-height:150%;"><font face="IRANSans" size=3>
  ستون‌های موردنیاز شما در این دیتاست این‌ها هستند:
<br/>
  <lu>
    sepal_length:طول کاسبرگ
    </lu>
    <br>
    <lu>
    sepal_width: عرض کاسبرگ
    </lu>
    <br>
    <lu>
    petal_length: طول گلبرگ
    </lu>
    <br>
    <lu>
    petal_width:عرض گلبرگ
    </lu>
    <br>
    <lu>
    species: گونه‌ی گل زنبق
    </lu>
<br>
<br>
  با کمک دستور 
    <code>unique</code>
    گونه‌های مختلف گل زنبق را مشاهده کنید:
</font></div>

<div style="direction:rtl;line-height:150%;"><font face="IRANSans" size=3>
    می‌خواهیم با استفاده از ویژگی‌های مختلف انواع گل زنبق، دسته‌بندی آن‌ها را شناسایی کنیم. ویژگی‌های مورد نظر ما طول و عرض کاسبرگ و عرض گلبرگ است. نمودار سه بعدی دسته بندی گل‌های زنبق را ترسیم کنید.
</font></div>

In [51]:
k = 3
iris_plot =

SyntaxError: invalid syntax (<ipython-input-51-01a8c4eef99e>, line 2)

<div style="direction:rtl;line-height:150%;"><font face="IRANSans" size=3>
 به نظر شما اگر اطلاعات مربوط به یک گل زنبق جدید به شما داده شود، چگونه می‌توانید دسته بندی آن را تشخیص دهید؟ راهنمایی: سعی کنید از نمودار کمک بگیرید!
    <br><br>
    حالا می‌خواهیم با استفاده از سه ویژگی گفته شده، دسته بندی داده‌ی جدید از گل زنبق را شناسایی کنیم. برای این کار از دستور 
    <code>iris_knn</code>
    استفاده کنید و خروجی آن را در متغیر زیر ذخیره کنید.
</font></div>

In [52]:
result =

SyntaxError: invalid syntax (<ipython-input-52-41e18e7a183e>, line 1)

<div style="direction:rtl;line-height:150%;"><font face="IRANSans" size=3>
    بعد از اجرای دستور بالا، برای این‌که ببینید الگوریتم واقعا به چه صورت عمل کرده‌است، قطعه کد زیر را صرفا اجرا کنید:)
  
</font></div>

In [53]:
def show_neighbors():
    neighbors = result[i]['neighbors']
    test_item = result[i]['test']
    iris_plot.add_scatter3d(x=[float(test_item['sepal_length'])], y=[float(test_item['sepal_width'])], z=[float(test_item['petal_width'])], name='Test')
    print('predicted= '+ res[1]['actual'])
    for n in neighbors:
        if n['out'] == 'setosa':
            color = 'blue'
        elif n['out'] == 'versicolor':
            color = 'red'
        else:
            color = 'green'
        iris_plot.add_scatter3d(x=[float(n['sepal_length'])], y=[float(n['sepal_width'])], z=[float(n['petal_width'])], name=n['out'], marker={'color':color,'line':{'width':2,'color':'black'}})
    if i > k:
        i = 0
    else:
        i += 1
    iris_plot.show()

<div style="direction:rtl;line-height:150%;"><font face="IRANSans" size=3>
  دیتاست مربوط به پیش‌بینی بارندگی به شما داده شده است. با کمک دستور 
    <code>head</code>
    می‌توانید چندتا از این داده‌ها را مشاهده کنید:
</font></div>

In [54]:
head(weather)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,0.0,0.0,0
1,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,0.0,0.0,0
2,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,0.0,0.0,0
3,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,0.0,1.0,0
4,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0.0,0.2,0

<div style="direction:rtl;line-height:150%;"><font face="IRANSans" size=3>
همان‌طور که می‌بینید، پیچیدگی بیشتر مسئله‌ی مورد نظر با افزایش عوامل موثر بر آن همراه است. الگوریتمی که در مرحله قبل یافتید، با  کمک منتورها و با استفاده از دستور 
    <code>KNN_classifier</code>
    روی داده‌ها پیاده کنید. 
<br><br>
   فراموش نکنید که پیش از شروع کار، داده را تمیز کنید!
</font></div>